@using RepeatCounterApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>repeat-counter-index</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 id="titleText"> Repeat Counter Calculator</h1>
      </div>
      @if (Model != null)
      {
        <h1>The word @RepeatCounter.GetUserWordResults() appears in the sentence @RepeatCounter.GetRepeatScore() time(s).</h1>
      }
    <a href="/form"> Try another word and sentence! </a>
  </body>
</html>
